@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* configure scroll bar */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Change the color of the scroll thumb */
::-webkit-scrollbar-thumb {
  background: #462f47;
  border-radius: 0.5rem;
}