@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik-Variable.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@layer base {
    :root {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;
        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;
        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;
        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;
        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --primary: 47.9 95.8% 53.1%;
        --primary-foreground: 26 83.3% 14.1%;
        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 60 9.1% 97.8%;
        --ring: 35.5 91.7% 32.9%;
        --radius: 1rem;
    }
}

@layer base {
    * {
        @apply border-[hsl(var(--border))];
    }
    body {
        /* @apply bg-background text-foreground; */
        @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))];
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    html {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    [type="number"]::-webkit-inner-spin-button,
    [type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    [type="number"] {
        -moz-appearance: textfield;
    }
    .glass-blur::before {
        backdrop-filter: blur(8px) contrast(100%);
        -webkit-backdrop-filter: blur(8px) contrast(100%);
    }
    .glass-blur {
        backdrop-filter: blur(8px) contrast(100%);
        -webkit-backdrop-filter: blur(8px) contrast(100%);
    }
}

@layer base {
}
