---
import Layout from "@/layouts/Layout.astro";
import ProductDetailsCard from "@/components/ProductDetailsCard.astro";
import { getProductByHandle } from "@/lib/shopify";
import ProductImages from "@/components/ProductImages.astro";

const headers = Astro.request.headers;
const ip = headers.get("x-forwarded-for") || Astro.clientAddress;
const product = await getProductByHandle(Astro.params.handle || "", ip);
---

<Layout title={product?.title || "Hansumfella merch"}>
    <main class="mt-16 flex min-h-screen flex-col items-center justify-center px-4 pb-8 sm:px-8">
        <div class="flex w-full flex-1 flex-col items-start gap-4 md:w-[85%]">
            <div class="grid h-full w-full grid-cols-1 gap-8 md:grid-cols-2">
                <ProductImages product={product} />
                <ProductDetailsCard product={product} />
            </div>
        </div>
    </main>
</Layout>
