---
import { Card, CardDescription, CardHeader, CardTitle } from "@/components/ui/card";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404 - Hansumfella merch" showFooter={false} showNavbar={false}>
    <div class="flex h-screen flex-col items-center justify-center px-4 sm:px-8">
        <div class="flex h-full w-full flex-1 flex-col items-center justify-center gap-4">
            <Card className="bg-zinc-800/20">
                <CardHeader>
                    <CardTitle>Page not found</CardTitle>
                    <CardDescription
                        >Sorry, we couldn't find the page you're looking for.</CardDescription
                    >
                </CardHeader>
            </Card>
        </div>
    </div>
</Layout>
