---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import AllProducts from "@/components/AllProducts.astro";
import { getAllProducts } from "@/lib/shopify";
import { setCache } from "@/lib/cache";

const headers = Astro.request.headers;
const ip = headers.get("x-vercel-forwarded-for") || Astro.clientAddress;
const products = await getAllProducts({ limit: 100, buyerIP: ip });

setCache.short(Astro);
---

<Layout title="Hansumfella Merch">
    <div class="flex flex-col items-center justify-center px-4 sm:px-8">
        <Hero />
        <AllProducts products={products} />
    </div>
</Layout>
