---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import AllProducts from "@/components/AllProducts.astro";
import { getAllProducts } from "@/lib/shopify";

const headers = Astro.request.headers;
const ip = headers.get("x-vercel-forwarded-for") || Astro.clientAddress;
const products = await getAllProducts({ limit: 100, buyerIP: ip });
---

<Layout title="Hansumfella Merch">
    <main class="flex min-h-screen flex-col items-center justify-center px-4 pb-8 sm:px-8">
        <Hero />
        <AllProducts products={products} />
    </main>
</Layout>
