---
import Navbar from "@/components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import Hero from "@/components/Hero.astro";
---

<Layout title="Hansumfella Merch">
    <main class="flex min-h-screen flex-col items-center justify-center px-4 sm:px-8">
        <Hero />
    </main>
</Layout>
