---
import { ShoppingBasketIcon } from "lucide-react";
import { Button } from "./ui/button";

const size = 4;
---

<Button
    variant="default"
    className="flex h-fit items-center gap-2 rounded-[0.55rem] px-2 py-[0.4rem]"
>
    {size && <p class="text-xs font-normal">{size > 10 ? "10+" : size}</p>}
    <ShoppingBasketIcon className="size-4" />
</Button>
