<footer class="w-full px-8 py-2">
    <div
        class="flex flex-col items-center justify-center gap-4 sm:flex-row sm:items-start sm:justify-between"
    >
        <p class="text-center text-sm font-light text-foreground/40">
            &copy; {new Date().getFullYear()} Hansumfella LLC.
        </p>
        <p class="text-center text-sm font-light text-foreground/40">
            Made with <img src="/emotes/fella-slay.webp" alt="heart" class="inline-block size-6" /> by
            {" "}
            <a href="https://kyle.so" class="text-primary">dickey</a>
        </p>
    </div>
</footer>
