---
import TwitchEmbed from "./TwitchEmbed";
import SocialIcons from "./SocialIcons.astro";
---

<div
    class="flex min-h-screen w-full flex-1 flex-row items-center justify-between gap-0 px-2 md:px-16"
>
    <div class="flex w-full flex-col items-start gap-4 md:w-1/2">
        <h1 class="text-[40px] font-bold leading-[1.2] sm:text-[55px]">
            The most <span class="text-primary">handsome</span> fella on Twitch.
        </h1>
        <p class="mb-8 text-lg font-normal text-foreground/40">
            He&apos;s got his own website, that&apos;s pretty cool
        </p>

        <SocialIcons size="size-8 md:size-10" />
    </div>
    <div class="hidden w-1/2 rounded-lg border shadow md:flex">
        <TwitchEmbed client:load />
    </div>
</div>
