---
import CartButton from "./CartButton.astro";

const donateLink = "https://streamlabs.com/hansumfella/tip";
---

<div class="fixed top-2 mx-auto flex w-screen items-center justify-center">
    <nav
        class="glass-blur flex w-[98%] items-center justify-between rounded-md border bg-zinc-800/20 p-1 shadow-sm sm:w-[95.7%]"
    >
        <div class="flex items-center gap-4">
            <a href="/">
                <img src="/hansum.png" alt="Hansumfella" class="size-7 rounded-[0.55rem]" />
            </a>
            <a
                href="/#shop"
                class="text-sm text-foreground/60 transition-all ease-in-out hover:text-foreground"
                >Shop</a
            >
            <a
                href={donateLink}
                target="_blank"
                class="text-sm text-foreground/60 transition-all ease-in-out hover:text-foreground"
                >Donate</a
            >
        </div>
        <CartButton />
    </nav>
</div>
