---
import { Card, CardContent } from "./ui/card";

interface Props {
    product: any;
}

const { product } = Astro.props as Props;
---

<div class="flex h-fit w-full flex-col">
    <img
        src={product?.featuredImage?.url}
        alt={product?.featuredImage?.altText}
        class="rounded-md"
    />
    <div class="mt-6 flex w-full flex-row items-center justify-center gap-4">
        {
            product?.images.nodes.map((image: any) => (
                <img src={image?.url} alt={image?.altText} class="size-16 rounded-md" />
            ))
        }
    </div>
</div>
